# Copyright (c) 2024 Renesas Electronics Corporation
# Copyright (c) 2025, Muhammad Waleed Badar
# SPDX-License-Identifier: Apache-2.0

if BOARD_MI_BAND_4

config I2C_CALLBACK
	default y if I2C_SMARTBOND

# Make sure the serial device has higher
# initialization priority.
config SERIAL_INIT_PRIORITY
	default KERNEL_INIT_PRIORITY_DEFAULT

endif # PM || PM_DEVICE

if BT

config BT_WAIT_NOP
	default y

config TEST_RANDOM_GENERATOR
	default y

endif # BT

endif # BOARD_MI_BAND_4
