/*
 * Copyright (c) 2022 Renesas Electronics Corporation and/or its affiliates
 * Copyright (c) 2025, Muhammad Waleed Badar
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <renesas/smartbond/da14697.dtsi>
#include "mi_band_4-pinctrl.dtsi"
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
	model = "Xiaomi Mi Band 4";
	compatible = "xiaomi,mi_band_4";
	#address-cells = <1>;
	#size-cells = <1>;

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,console = &uart;
		zephyr,shell-uart = &uart;
		zephyr,code-partition = &slot0_partition;
		zephyr,bt-hci = &bt_hci_da1469x;
	};

	sysclk: system-clock {
		compatible = "fixed-clock";
		clock-frequency = <32000000>;
		#clock-cells = <0>;
	};
};

&flash0 {
	reg = <0x16000000 DT_SIZE_M(16)>;
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;
		/*
		 * Flash area from 0x0000 to 0x2400 is reserved
		 * for product header added by flasher.
		 */
		boot_partition: partition@2400 {
			label = "mcuboot";
			reg = <0x000002400 0x00009c00>;
		};
		slot0_partition: partition@c000 {
			label = "image-0";
			reg = <0x0000c000 0x00076000>;
		};
		slot1_partition: partition@82000 {
			label = "image-1";
			reg = <0x00082000 0x00076000>;
		};
		storage_partition: partition@f8000 {
			label = "storage";
			reg = <0x000f8000 0x00F08000>;
		};
	};
};

&rc32m {
	status = "disabled";
};

&xtal32k {
	status = "okay";
};

/*
 * On board level we switch to XTAL32K and
 * so RCX can be disabled.
 */
&rcx {
	status = "disabled";
};

&lp_clk {
	clock-src = <&xtal32k>;
};

&xtal32m {
	status = "okay";
};

&sys_clk {
	clock-src = <&xtal32m>;
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&uart {
	current-speed = <115200>;
	status = "okay";
	pinctrl-0 = <&uart_default>;
	pinctrl-names = "default";
};

&i2c {
	pinctrl-0 = <&i2c_default>;
	pinctrl-1 = <&i2c_sleep>;
	pinctrl-names = "default", "sleep";
	status = "okay";
};

&i2c2 {
	pinctrl-0 = <&i2c2_default>;
	pinctrl-1 = <&i2c2_sleep>;
	pinctrl-names = "default", "sleep";
	status = "okay";
};

&spi {
	pinctrl-0 = <&spi_controller>;
	pinctrl-1 = <&spi_sleep>;
	pinctrl-names = "default", "sleep";
	status = "okay";
};

&spi2 {
	pinctrl-0 = <&spi2_controller>;
	pinctrl-1 = <&spi2_sleep>;
	pinctrl-names = "default", "sleep";
	status = "okay";
};

&bt_hci_da1469x {
	status = "okay";
};
